@layer global,primevue,utility;

@import url('./../../node_modules/bootstrap-icons');
@import url('./../../node_modules/primeflex/primeflex.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer global{
  *,*::after,*::before{
    box-sizing: border-box;

  }

  html,body{
    padding: 0;
    font-family: poppins,sans-serif;
    margin: 0;
  }
  html{
    font-size: 0.875rem;
  }


}

@layer utility{
  .color-primary{
    color: #00A3FF;
  }

  .text-underline-hover:hover{
    text-decoration: underline !important;
  }
}