@layer global,primevue,utility;

@import url('./../../node_modules/bootstrap-icons');
@import url('./../../node_modules/primeflex/primeflex.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer global{
  a{
    color: inherit;
    text-decoration: none;
  }

  *,*::after,*::before{
    box-sizing: border-box;
  }

  html,body{
    padding: 0;
    font-family: poppins,sans-serif;
    margin: 0;
  }

  input,button,textarea{
    font-family: poppins,sans-serif;
  }

  input:focus,textarea:focus{
    outline: solid 2px rgb(57, 60, 160);
  }
  
  html{
    font-size: 0.875rem;
  }


}

@layer utility{
  .color-primary{
    color: #00A3FF;
  }

  .text-underline-hover:hover{
    text-decoration: underline !important;
  }

  .up-on-hover{
    position: relative;
    transition: transform 500ms;
    
  }

  .up-on-hover:hover{
    position: relative;
    transform: translateY(-5px);
  }

  .justify-content-strech{
    justify-content: stretch;
  }

  .container,.container-full {
    padding-right: 13px;
    padding-left: 13px;
    margin-right: auto;
    margin-left: auto;
  }
  

  .img-zoom-on-hover{
    overflow: hidden;
  }

  .img-zoom-on-hover > img{
    transition: 700ms transform;
  }

  .img-zoom-on-hover > img:hover{
    transform: scale(1.5);
  }

  .max-line-2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
  }

  .max-line-3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
  }

  @media (min-width: 576px) {
    .container-full {
      width: 100%;
      padding-inline: 25px;
    }
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }

    .container-full {
      width: 100%;
      padding-inline: 25px;
    }
  }

  @media (min-width: 992px) {
    .container,.container-full {
      padding-right: 15px;
      padding-left: 15px;
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    .container{
      width: 1060px;
    }

    .container-full{
      width: 100%;
      padding-inline: 75px;
    }
  }

  @media only screen and (min-width: 300px)  {
      /* More smaller */
      .ms-col-6{
        width: 50%;
        flex: 0 0 auto;
        padding: 0.5rem;
     }
  }

}